.homepage {
  height: 100vh;
  weight: 100vw;
  background: linear-gradient(122.19deg, #e163ca 1.89%, #2a00d5 113.56%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.add-container {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.titleImage {
  top: 30%;
  margin-top: 20;
}

.add-edit-input {
  top: 20px;
  outline: none;
  border: none;
  height: 30px;
  font-size: 25px;
  padding: 5px 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.add-edit-input:first-child {
  margin-right: 10px;
}

.confirm-icon {
  align-self: center;
}

.add-confirm-icon {
  transform: scale(2);
  margin-left: 200px;
  top: 27px;
  right: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.todo > h1 {
  width: 500px;
  background-color: rgb(211, 211, 211);
  padding: 5px 10px;
}

.edit-button,
.delete-button {
  cursor: pointer;
  margin-left: 10px;
}

.logout-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  background: red;
  color: white;
}

.bottom-container {
  position: absolute;
  background-color: beige;
  text-align: center;
  bottom: 2%;
  width: 100%;
}

.header {
  background: linear-gradient(to bottom right, #6f3575, #b517ad);
}

.pages {
  display: flex;
  list-style: none;
  width: 90%;
  justify-content: center;
}

.page {
  padding: 10px;
  margin: 5px;
  color: aliceblue;
  border: 1px solid;
  cursor: pointer;
}
